//Colors
$color-white:#ffffff;
$color-yellow: #F6C937;
$color-grey-light: #E7EDF6;
$color-grey-medium: #C5D3E8;
$color-grey-dark: #7F8A9C;
$color-red: #FF0066;
$color-blue: #2B2ECF;
$color-purple:#652BCF;
$color-dark-red:  #fff;

//Font Family
$font-opensans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;