@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import './variables';

*{
  margin:0
}

html {
  overflow:   scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body{
  background: $color-grey-light;
  font-family: $font-opensans;
  
}

h1,h2,h3,h4,h5,h6{
  font-family: $font-poppins;
  color: $color-red;
}



@media screen and (max-width: 575px) {
  .body{
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height:450px
  }

  .wrapper {
    width: 100%;
    padding:0;
  }
  .sidebar, .selected, .stickySelected{
    display: none;
  }

  .content{
    padding:0;
  }

  .header{
    display: block;
    margin-bottom:0;
  }

  .header__heading{
    font-size:42px;
    line-height: 50px;
    text-align: center;
    h1{
      font-size:42px;
      color: $color-white;
      line-height:50px;
      width:280px;
      margin:0 auto;
      margin-top:43px;
      text-shadow: -1px -1px 20px (#32261A/ .5);;
    }
  }

  .header__changeView{
    margin: 0 auto;
    margin-top:115px
  }

  .cardsWrapper{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    orphans: 1;
    widows: 1;
    text-align:center;
  }

 .card{
   text-align: left;
   margin:10px 0;
 }

 .navigation{
   width:100%;
   display:flex;
   background-image: linear-gradient(135deg, $color-blue 0%, $color-purple 100%);
   height:60px;
   border-radius: 20px;
   justify-content: space-evenly;
   padding:5px;
   box-sizing: border-box;

   .button{
     margin:0;
   }
   .button.active{
      background: $color-red;
   }
 }
}